<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head> 

<body>
    <header th:replace="/fragments/navbar :: header" ></header>
    
    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito </h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>

    <input hidden th:value="${id}" name="id">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5  overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-center" th:text="${noticia.titulo}"></h2>
        </div>

        <div class="bg-body-tertiary shadow-sm mx-auto mb-2 p-3 text-justify" th:text="${noticia.cuerpo}"
            style="width: 80%; height: 100%; border-radius: 21px 21px 21px 21px; color: black;">
        </div>

    </div>

    <footer th:replace="/fragments/footer :: footer"> </footer>

</body>

</html>